npx convex dev --once --configure=new

npx convex env set BETTER_AUTH_SECRET replace_me
npx convex env set GITHUB_CLIENT_ID replace_me
npx convex env set GITHUB_CLIENT_SECRET replace_me
npx convex env set GOOGLE_CLIENT_ID replace_me
npx convex env set GOOGLE_CLIENT_SECRET replace_me
npx convex env set RESEND_API_KEY replace_me
npx convex env set SITE_URL http://localhost:3000
npx convex env set VITE_CONVEX_SITE_URL https://replace-me.convex.cloud
npx convex env set POLAR_ORGANIZATION_TOKEN replace_me
npx convex env set POLAR_WEBHOOK_SECRET replace_me
npx convex env set POLAR_SERVER sandbox

npx convex run polar:syncProducts   